@model IEnumerable<WebApp.Areas.Identity.Data.WebAppUser>
@{
    ViewData["Title"] = "System Users";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>System Users</h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-today" type="button" role="tab" aria-controls="nav-today" aria-selected="true">All Users</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Patients</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Internal</button>
    <div>
       <a asp-action="AddDoctor" class="btn btn-primary">Add Doctor +</a>&nbsp;|&nbsp;
       <a asp-action="AddAdministrator" class="btn btn-primary">Add Administrator +</a>
   </div>
</div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-today" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Full Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">User Type</th> 
              </tr>
          </thead>

          <tbody>
                @{
                    foreach(var item in Model)
                    {
                                <tr>
                                    <td>@item.FirstName &nbsp; @item.LastName</td>
                                    <td>@item.Email</td>
                            @{
                                if(item.PatientProfile != null)
                                {
                                    <td>Patient</td>
                                }
                                else if(item.Doctor != null)
                                {
                                    <td>Doctor</td>
                                }

                                else
                                {
                                    <td>System Administrator</td>
                                }
                            }
                                </tr>
                        
                    }
                }
          </tbody>

      </table>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
       <table class="table">
          <thead>
              <tr>
                  <th scope="col">Full Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Last Logon</th>
              </tr>
          </thead>

          <tbody>
                @{
                    foreach(var item in Model)
                    {
                        if(item.PatientProfile != null)
                        {
                                <tr>
                                    <td>@item.FirstName &nbsp; @item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@DateTime.Now</td>
                                </tr>
                        }
                        
                    }
                }
          </tbody>

      </table>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Full Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">User Type</th>
                  <th scope="col">Last Logon</th>
              </tr>
          </thead>

          <tbody>
                @{
                    foreach(var item in Model)
                    {
                        if(item.PatientProfile == null)
                        {
                                <tr>
                                    <td>@item.FirstName &nbsp; @item.LastName</td>
                                    <td>@item.Email</td>
                                @{
                                    if(item.Doctor == null)
                                    {
                                        <td>Administrator</td>
                                    }
                                    else
                                    {
                                        <td>Doctor</td>
                                    }
                                }
                                <td>@DateTime.Now</td>
                                </tr>
                        }
                        
                    }
                }
          </tbody>

      </table>
  </div>
</div>