@model IEnumerable<WebApp.Models.ConfirmedAppointmentViewModel>
@{
    ViewData["Title"] = "Confirmed";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<h1>Confirmed Appointments</h1>
<br />
<nav>
  <div class="nav custom-nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link menu-item active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-today" type="button" role="tab" aria-controls="nav-today" aria-selected="true">Today</button>
    <button class="nav-link menu-item" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Next 7 Days</button>
    <button class="nav-link menu-item" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">This Month</button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-today" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Ref #</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Cell No</th>
                  <th scope="col">Alternate Contact</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Time</th> 
                  <th scope="col">Doctor</th>
                  <th scope="col">Type</th>
              </tr>
          </thead>

          <tbody>
                @{
                    foreach(var item in Model)
                    {
                        if(item.Date == System.DateOnly.FromDateTime(DateTime.Today))
                        {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FirstName &nbsp; @item.LastName</td>
                                    <td>@item.CellNo</td>
                                    <td>@item.AlternateCell</td>
                                    <td>@item.EmailAddress</td>
                                    <td>@item.Time</td>
                                    <td>@item.Doctor.FirstName.Substring(0,1) &nbsp;@item.Doctor.LastName </td>
                                @{
                                    if (item.Type == AppointmentType.OnlineConsultation)
                                    {
                                        <td>Online Consultation</td>
                                    }

                                    else if(item.Type == AppointmentType.HomeCall)
                                    {
                                        <td>Home Call</td>
                                    }
                                    else
                                    {
                                        <td>Clinic Visit</td>
                                    }
                                }
                                    
                                </tr>
                        }
                        
                    }
                }
          </tbody>

      </table>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
       <table class="table">
          <thead>
              <tr>
                  <th scope="col">Ref #</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Cell No</th>
                  <th scope="col">Alternate Contact</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Type</th>
                  <th scope="col"></th>
              </tr>
          </thead>

          <tbody>
                @{
                    foreach(var item in Model)
                    {
                        if(item.Date >= System.DateOnly.FromDateTime(DateTime.Today) && item.Date < System.DateOnly.FromDateTime(DateTime.Today.AddDays(7)))
                        {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FirstName &nbsp; @item.LastName</td>
                                    <td>@item.CellNo</td>
                                    <td>@item.AlternateCell</td>
                                    <td>@item.EmailAddress</td>
                                    <td>@item.Date.ToLongDateString()</td>
                                    <td>@item.Time</td>
                                    <td>@item.Doctor.FirstName.Substring(0,1) &nbsp;@item.Doctor.LastName </td>
                                @{
                                    if (item.Type == AppointmentType.OnlineConsultation)
                                    {
                                        <td>Online Consultation</td>
                                    }

                                    else if(item.Type == AppointmentType.HomeCall)
                                    {
                                        <td>Home Call</td>
                                    }
                                    else
                                    {
                                        <td>Clinic Visit</td>
                                    }
                                }
                                <td>
                                <a class="btn btn--primary">Details</a>
                                </td>
                                </tr>
                        }
                        
                    }
                }
          </tbody>

      </table>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Ref #</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Cell No</th>
                  <th scope="col">Alternate Contact</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Type</th>
              </tr>
          </thead>

          <tbody>
                @{
                    foreach(var item in Model)
                    {
                        if(item.Date.Month == DateTime.Now.Month && item.Date > DateOnly.FromDateTime(DateTime.Today))
                        {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FirstName &nbsp; @item.LastName</td>
                                    <td>@item.CellNo</td>
                                    <td>@item.AlternateCell</td>
                                    <td>@item.EmailAddress</td>
                                    <td>@item.Date.ToLongDateString()</td>
                                    <td>@item.Time</td>
                                    <td>@item.Doctor.FirstName.Substring(0,1) &nbsp;@item.Doctor.LastName </td>
                                @{
                                    if (item.Type == AppointmentType.OnlineConsultation)
                                    {
                                        <td>Online Consultation</td>
                                    }

                                    else if(item.Type == AppointmentType.HomeCall)
                                    {
                                        <td>Home Call</td>
                                    }
                                    else
                                    {
                                        <td>Clinic Visit</td>
                                    }
                                }
                                </tr>
                        }
                        
                    }
                }
          </tbody>

      </table>
  </div>
</div>