@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApp.Models.Appointment
@{
    ViewData["Title"] = "My Appointment";
}

<h1>My Appointment</h1>

 @{
            if (Model.Approved)
            {
                <h4 class="text-success">Confirmed</h4>
            }

            else
            {
                <h4 class="text-danger">Not Confirmed</h4>
            }
        }

<br>
<p>Alternate Contact No: </p>

<div class="login">
    <div class="col-md-8">
        <table>
    <tr>
        <td><strong>Full Name:</strong></td>
        <td> @Html.DisplayFor(model => model.FirstName) &nbsp; @Html.DisplayFor(model => model.LastName)</td>
    </tr>

    <tr>
        <td><strong>Contact No:</strong></td>
        <td>@Html.DisplayFor(model => model.CellNo)</td>
    </tr>
    @{
        if(Model.AlternateCell != null)
        {
         <tr>
            <td><strong>Alternate Contact No:</strong></td>
            <td>@Html.DisplayFor(model => model.AlternateCell)</td>
         </tr>
        }        
      }

      <tr>
          <td><strong>Date & Time:</strong></td>
          <td>@ViewBag.DateTime</td>
      </tr>
</table>
    </div>
</div>
