@{
    @*@model IEnumerable<WebApp.Models.Appointment>

@{
    ViewData["Title"] = "Unconfirmed";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>Unconfirmed Appointments</h1>

<table>
@{
    foreach(var item in Model)
    {
            <tr>
                <td>Full Name</td>
                <td> @item.FirstName &nbsp; @item.LastName</td>
            </tr>

            <tr>
                <td>Contact No</td>
                <td>@item.CellNo</td>
                <td><a asp-action="Confirm" asp-route-id="@item.Id" class="btn btn-primary">Confirm</a></td>
            </tr>
            if(item.AlternateCell != null)
            {
                 <tr>
                    <td>Alternate Contact No</td>
                    <td>@item.AlternateCell</td>
                 </tr>
            }        

            <tr style="margin-bottom:5px">
                 <td>Date & Time</td>
                 <td>@item.Date.ToLongDateString()
                 <br />--------------------------------------------------------</td>
            </tr>
    }
}
</table>*@

}

@using Microsoft.AspNetCore.Identity
@using WebApp.Areas.Identity.Data
@using WebApp.Data

@*@model IEnumerable<PatientListViewModel>*@
    
@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "Unconfirmed";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<style>
    #searchText {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>

<h1>Unconfirmed Appointments</h1>

<input type="text" id="searchText" onkeyup="searchTable()" placeholder="Search" />
<table class="table" id="myTable">
        <tr class="header custom-nav">
            <th scope="col">
               <strong> Ref #</strong>
            </th>
            <th scope="col">
                <strong>Full Name</strong>
            </th>
            <th scope="col">
                <stong>Contact #</stong>
            </th>
            <th scope="col">
               <strong> Alternate Contact</strong>
            </th>
            <th scope="col">
                <strong>Email Address</strong>
            </th>
            <th scope="col">
                <strong>Date & Time</strong>
            </th>
            <th scope="col">
                <strong>Appointment Type</strong>
            </th>
            <th></th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName &nbsp; @item.LastName</td>
                <td>@item.CellNo</td>
                <td>@item.AlternateCell</td>
                <td>@item.EmailAddress</td>
                <td>@item.Date.ToLongDateString()&emsp;@item.Time</td>
                @if(item.Type == AppointmentType.OnlineConsultation)
                    {
                        <td>Online Consultation</td>
                    }
                    else if(item.Type == AppointmentType.ClinicVisit){
                        <td>Clinic Visit</td>
                    }
                    else{
                        <td>Home Call</td>
                    }
                <td><a asp-action="Confirm" asp-route-id="@item.Id" class="btn btn--primary">Confirm</a></td>
            </tr>
        }
</table>
@section Scripts{
    <script type="text/javascript">
    function searchTable() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchText");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

}
